/**
 * 	Broname - Landing Page Styles
 */
.bro-name {
	text-align: center;
	h1 {
		width: 100%;
    color: #e74c3c;
    font-size: 84px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
}