/**
 * 	Broname - Landing Page Styles
 */
.bro-name {
	text-align: center;
	h1 {
		width: 100%;
    color: #e74c3c;
    font-size: 84px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
}
.bn-title {
  margin-top: 0;
}
.bn-translate {
  height: 300px;
  margin-bottom: 60px;
  p {
    margin: 0 0 20px;
  }
  .well {
    height: 100%;
    overflow: overlay;
    background-color: #ffffff;
  }
}
.bn-inner {
  height: 100%;
}
textarea {
  background-color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  &:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
  }
}
form {
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
}

@media (max-width: 992px) {
  .bn-translate {
    height: inherit;
    margin-bottom: 0;
  }
}
